@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');

:root {
    --burnt-orange: #E6563B;
    --mustard-yellow: #EB9D3A;
    --grass-green: #7CB06C;
    --teal-blue: #00ABA9;
    --back-ground: #F0F0F0;
    --border-color: #E6E6E6;
    --letter-color: #212529;
    --white: #FFFFFF;
}

nav {
    background-color: var(--back-ground);
    border: none;
}

.backit {
    border-top: none;
    background-color: var(--back-ground);
}

body {
    background-color: var(--back-ground);
    color: var(--letter-color);
}

p {
    font-family: Abel;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Anton;
}

.icon1 {
    display: flex;
    height: 80px;
    min-width: 80px;
    background-color: var(--burnt-orange);
    border-radius: 9999px;
    border: 6px white solid;
    font-family: Anton;
}
.icon2 {
    display:flex;
    height: 80px;
    min-width: 80px;
    background-color: var(--mustard-yellow);
    border-radius: 9999px;
    border: 6px white solid;
    font-family: Anton;
}
.icon3 {
    display: flex;
    height: 80px;
    min-width: 80px;
    background-color: var(--grass-green);
    border-radius: 9999px;
    border: 6px white solid;
    font-family: Anton;
}
.icon4 {
    display: flex;
    height: 80px;
    min-width: 80px;
    background-color: var(--teal-blue);
    border-radius: 9999px;
    border: 6px white solid;
    font-family: Anton;
}

.size {
    height:20px;
    width: 20px;
}

.image-border {
    border: 7px var(--border-color) solid
}

.image-size {
    height: 20%;
    width: 20%;
}

